---
import EditButton from "./EditButton.astro";

type Props = {
  title: string;
  description: string;
  tree?: {
    id: number;
    slug: string;
  };
};

const { title, description, tree } = Astro.props;
---

<header class="mb-12">
  <div class="flex items-center gap-3 mb-4">
    <h1 class="text-4xl font-bold">{title}</h1>
    {tree && <EditButton type="tree" id={tree.id} slug={tree.slug} />}
  </div>
  <p class="text-lg text-black/80 dark:text-white/80">{description}</p>
</header>
