---
import { marked } from 'marked';

type Props = {
  content: string;
  references?: {
    title: string;
    url: string;
  }[];
};

const { content, references } = Astro.props;
const htmlContent = marked.parse(content);
---

<div class="content prose prose-lg dark:prose-invert">
  <Fragment set:html={htmlContent} />
</div>

{
  references && references.length > 0 && (
    <div class="mt-12 border-t border-black/10 pt-6 dark:border-white/10">
      <h3>References</h3>
      <ul>
        {references.map((ref) => (
          <li>
            <a href={ref.url} target="_blank" rel="noopener noreferrer">
              {ref.title}
            </a>
          </li>
        ))}
      </ul>
    </div>
  )
}
